VITE_APP_FIREBASE_API_KEY=your-development-api-key
VITE_APP_FIREBASE_AUTH_DOMAIN=your-development-auth-domain
VITE_APP_FIREBASE_PROJECT_ID=your-development-project-id
VITE_APP_FIREBASE_STORAGE_BUCKET=your-development-storage-bucket
VITE_APP_FIREBASE_MESSAGING_SENDER_ID=your-development-messaging-sender-id
VITE_APP_FIREBASE_APP_ID=your-development-app-id

VITE_APP_BUS_DEPT1="山野"
VITE_APP_BUS_DEST1="調布駅北口"
VITE_APP_BUS_DEPT2="山野"
VITE_APP_BUS_DEST2="調布駅北口"